body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center, center;
    background-size: cover;
}

hr {
    width: 50%;
}

button {
    font-family: Consolas, serif;
    font-size: 100px;
    background-color: transparent;
    transition: 0.2s;
    border-radius: 12px;
}

button:hover {
    font-size: 105px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
}

button:active {
    font-size: 100px;
    background-color: rgba(32, 127, 254, 0.7);
}

form {
    font-size: 50px;
}
input {
    font-size: 50px;
    border-radius: 12px;
    background-color: transparent;
}

#title {
    font-size: 150px;
    font-family: Consolas, serif;
    transition: 0.3s;
}

#title:hover {
    /*font-size: 200px;*/
}

#subTitle {
    font-size: 40px;
    font-family: Consolas, serif;
    opacity: 50%;
    transition: 0.3s;
}

#subTitle:hover {
    opacity: 100%;
    /*font-size: 50px;*/
}

#mainDiv {
    text-align: center;
}